<div class="overflow-hidden rounded-lg bg-white shadow max-w-5xl mx-auto px-4 py-6 sm:px-8 sm:py-10">
  <h2 class="font-bold text-3xl mb-2 sm:mx-4 text-zinc-800">Walkthrough Video</h2>
  <p class="text-xl text-zinc-600 sm:mx-4 mb-4">The video below shows all the core functionality for Silly Goals.</p>
  {% include "snippets/_walkthrough_video.html" %}
  <p class="text-zinc-800 mt-4 sm:ml-4">
    There is also a <a href="/dashboard/help/general"
      class="font-bold underline text-zinc-800 hover:text-zinc-500 hover:decoration-2">text version</a> of the help, and
    <a href="/dashboard/help/general" class="font-bold underline text-zinc-800 hover:text-zinc-500 hover:decoration-2">
      more details about the different tones</a>.
  </p>
  <p class="text-zinc-800 mt-4 sm:ml-4">
    If you have any other questions or concerns, <a href="//rickhenry.dev/contact" class="font-bold underline hover:underline-offset-2" target="_blank" rel="noopener noreferrer">
        send me a message</a> on my main website, and I'll help you out.
  </p>
</div>
