<div class="overflow-hidden rounded-lg bg-white shadow max-w-5xl mx-auto px-4 py-6 sm:px-8 sm:py-10"">
  <h2 class=" font-bold text-3xl mb-4 sm:mx-4 text-zinc-800">Tones</h2>
  <p class="text-xl text-zinc-600 sm:mx-4 mb-2">These are the different tones you can select for your groups of goals.
    Feel free to experiment, you can always change it later!</p>
  <div class="px-4 w-full flex flex-col divide-y divide-zinc-300">
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Gentle</h3>
      <p class="text-zinc-800 mt-2">This is the inspiration for this whole idea. It's a bit silly and doesn't have
        deadlines. You can keep track of things that are important, but without pressuring yourself too much.</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Business (silly)</h3>
      <p class="text-zinc-800 mt-2">This is a bit of a parody. Has deadlines, but still a bit silly.</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Serious</h3>
      <p class="text-zinc-800 mt-2">What do you want me to say? It's just normal Kanban with deadlines and normal titles.</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Snarky</h3>
      <p class="text-zinc-800 mt-2">Sometimes you just need someone to be mean to you to keep you motivated.</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Boring</h3>
      <p class="text-zinc-800 mt-2">For the ultra-pragmatic who don't want personality, but are using this for some reason.</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Just Colors</h3>
      <p class="text-zinc-800 mt-2">It's literally just colors. They're pretty right? No deadlines.</p>
    </div>
</div>
