<h2 class="font-bold text-3xl mb-4 sm:mx-4 text-zinc-800">Goal Groups</h2>
<ul role="list" class="sm:pl-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
  {% for group in groups %}
  <li
    class="col-span-1 divide-y divide-zinc-200 rounded-lg bg-white border-violet-200 border shadow flex flex-col h-full">
    <div class="flex w-full items-center justify-between space-x-6 p-6 flex-1">
      <div class="flex-1 truncate">
        <div class="flex items-center space-x-3">
          <h3 class="truncate text-sm font-medium text-zinc-900">{{ group.title }}</h3>
        </div>
        {% if let Some(desc) = group.description %}
        <p class="mt-1 truncate text-sm text-zinc-500">{{ desc }}</p>
        {% endif %}
      </div>
    </div>
    <div class="flex-0">
      <div class="-mt-px flex divide-x divide-zinc-200">
        <div class="flex w-0 flex-1">
          <a href="/dashboard/groups/{{ group.id }}/edit" hx-get="/dashboard/groups/{{ group.id }}/edit"
            hx-swap="afterbegin" hx-target="#main-content" hx-push-url="/dashboard/groups/{{ group.id }}/edit"
            class="bg-pink-600 relative -mr-px inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-bl-lg border border-transparent py-2 text-sm font-semibold text-zinc-100">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              class="h-5 w-5 text-zinc-50">
              <path
                d="M18.75 12.75h1.5a.75.75 0 000-1.5h-1.5a.75.75 0 000 1.5zM12 6a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 6zM12 18a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 0112 18zM3.75 6.75h1.5a.75.75 0 100-1.5h-1.5a.75.75 0 000 1.5zM5.25 18.75h-1.5a.75.75 0 010-1.5h1.5a.75.75 0 010 1.5zM3 12a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 013 12zM9 3.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zM12.75 12a2.25 2.25 0 114.5 0 2.25 2.25 0 01-4.5 0zM9 15.75a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5z" />
            </svg>
            Options
          </a>
        </div>
        <div class="-ml-px flex w-0 flex-1">
          <a href="/groups/{{ group.id }}" hx-get="/groups/{{ group.id }}" hx-target="#main-content" hx-swap="innerHTML"
            hx-push-url="/groups/{{ group.id }}"
            class="relative bg-violet-600 text-white inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              class="h-5 w-5 text-zinc-50">
              <path
                d="M15 3.75H9v16.5h6V3.75zM16.5 20.25h3.375c1.035 0 1.875-.84 1.875-1.875V5.625c0-1.036-.84-1.875-1.875-1.875H16.5v16.5zM4.125 3.75H7.5v16.5H4.125a1.875 1.875 0 01-1.875-1.875V5.625c0-1.036.84-1.875 1.875-1.875z" />
            </svg>
            View
          </a>
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
  <li
    class="col-span-1 divide-y divide-zinc-200 rounded-lg bg-white border-violet-400 border border-dashed text-violet-600">
    <a href="/groups/new" class="h-full w-full flex justify-between items-center p-6" hx-get="/groups/new"
      hx-swap="afterbegin" hx-target="#main-content" hx-push-url="/groups/new" hx-trigger="click">
      <div class="flex-col flex">
        <div class="flex items-center space-x-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
            <path fill-rule="evenodd"
              d="M19.5 21a3 3 0 003-3V9a3 3 0 00-3-3h-5.379a.75.75 0 01-.53-.22L11.47 3.66A2.25 2.25 0 009.879 3H4.5a3 3 0 00-3 3v12a3 3 0 003 3h15zm-6.75-10.5a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V10.5z"
              clip-rule="evenodd" />
          </svg>
          <strong class="font-bold text-xl">
            Create New Group
          </strong>
        </div>
        <p class="mt-1 text-sm text-zinc-500">Create a new group of goals</p>
      </div>
    </a>
  </li>
</ul>
{% if user.is_new_user %}
{% include "snippets/_tutorial.html" %}
{% endif %}
