<div class="overflow-hidden rounded-lg bg-white shadow max-w-5xl mx-auto px-4 py-6 sm:px-8 sm:py-10"">
  <h2 class="font-bold text-3xl mb-4 sm:mx-4 text-zinc-800">Basics</h2>
  <p class="text-xl text-zinc-600 sm:mx-4 mb-2">Here are the basic things you can do in Silly Goals</p>
  <div class="px-4 w-full flex flex-col divide-y divide-zinc-300">
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Get Started</h3>
      <p class="text-zinc-800 mt-2">To get started, create your first group by clicking the "New Group" button, then
        filling out the form with some information.</p>
      <figure class="w-full flex justify-center">
        <img src="/static/tutorial/new_group_button.png" alt="New Group Button" class="shadow-lg rounded-md max-w-full">
      </figure>
      <p class="text-zinc-800 mt-2">Once you create some groups, they'll show up here and in the sidebar (on small
        devices, click in the upper left to open the sidebar).</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Setup Your Group</h3>
      <p class="text-zinc-800 mt-2">First set the name and a description for your group of goals (if you want). This
        could be something like <em class="italic">Personal Goals</em> or <em class="italic">Business Goals</em> or
        <em class="italic">Training</em>.
      </p>
      <p class="text-zinc-800 mt-2">You'll need to select a "Tone" for your group. This will determine things like
        how it behaves around deadlines, how it handles old goals, and what the tone of the displayed text is like.
      </p>
      <figure class="w-full flex justify-center">
        <img src="/static/tutorial/tones.png" alt="Tone Selector" class="max-w-full shadow-lg rounded-md">
      </figure>
      <p class="text-zinc-800 mt-2"><strong class="font-bold">Gentle</strong> is the default. It's
        fun and silly
        with no deadlines at all, just go at your own pace. If you need tough love, pick <strong
          class="font-bold">Snarky</strong>
        for a less kind and gentle experience. Experiment with the different tones and see what works for you.</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">Add Some Goals</h3>
      <p class="text-zinc-800 mt-2">Once you've created your group, you'll be talke to the main group display
        screen. This shows a kanban of all your goals in different stages.</p>
      <figure class="w-full flex justify-center">
        <img src="/static/tutorial/kanban.png" alt="Group Kanban" class="max-w-full rounded-md shadow-lg">
      </figure>
      <p class="text-zinc-800 mt-2">Click on one of the <em class="italic">Add Goal</em> buttons and start adding
        goals.</p>
      <p class="text-zinc-800 mt-2">Once you have some goals, you can start dragging around to move them toward
        completion!</p>
    </div>
    <div class="py-2">
      <h3 class="font-bold text-2xl text-zinc-900">User Profile</h3>
      <p class="text-zinc-800 mt-2">You'll find your name or email address in the top right corner or in the sidebar
        navigation, click to see your profile.
        <span>You can edit your name and email address, logout, or even delete your account
          (this is not reversible).</span>
      </p>
      <p class="text-zinc-800 mt-2">You can also register for <strong class="font-bold">Device
          Authentication</strong> on supported devices and browsers.
        <span> This will allow you to use the biometric authentication built into your
          device to log in, instead of an email code.</span>
      </p>
    </div>
  </div>
</div>
