<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="view-goal">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 hx-fade-in hx-fade-out"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto isolate">
    <div class="flex isolate min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0 sm:scale-100">
      <div
        class="w-full relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl hx-fade-out hx-scale-out hx-fade-in hx-scale-in max-w-lg sm:my-8 sm:w-full sm:max-w-lg pb-4">
        <div>
          <div class="border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm font-semibold leading-6 text-gray-900">Goal</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0" id="modal-title">{{ goal.title }}</dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm font-semibold leading-6 text-gray-900">Description</dt>
                {% if let Some(desc) = goal.description %}
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ desc }}</dd>
                {% else %}
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">No Description</dd>
                {% endif %}
              </div>
              {% if let Some(deadline) = goal.deadline %}
              {% let overdue = goal|is_past_deadline && goal.stage < 3 %} <div
                class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
                <dt class="text-sm font-semibold leading-6 text-gray-900">Deadline</dt>
                <dd
                  class="mt-1 text-sm leading-6 {% if overdue %}text-red-700 font-bold{% else %}text-gray-700{% endif %} sm:col-span-2 sm:mt-0">
                  <time datetime="{{ deadline }}" x-text="displayDate('{{ deadline }}')" x-data></time>
                  {% if overdue -%}
                  &nbsp;This deadline has passed!
                  {% endif %}
                </dd>
          </div>
          {% endif %}
          <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4">
            <dt class="text-sm font-semibold leading-6 text-gray-900">Stage</dt>
            <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex">
              <div class="rounded-full text-sm {{ goal.stage|stage_color }} bg-opacity-80 text-white px-3 py-1 w-auto">
                {{ goal.stage|stage_text(group.tone_stages) }}
              </div>
            </dd>
          </div>
          </dl>
        </div>
      </div>
      <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse px-4">
        <a href="/groups/{{ group.id }}/goals/{{ goal.id }}/edit" autofocus
          hx-get="/groups/{{ group.id }}/goals/{{ goal.id }}/edit" hx-target="#view-goal" hx-swap="outerHTML swap:200ms"
          hx-push-url="/groups/{{ group.id }}/goals/{{ goal.id }}/edit"
          class="inline-flex w-full justify-center rounded-md bg-amber-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 sm:ml-3 sm:w-auto">Edit</a>
        <button type="button"
          class="mt-1 inline-flex w-full justify-center rounded-md bg-rose-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-rose-500 sm:ml-3 sm:mt-0 sm:w-auto"
          data-group-id="{{group.id}}" data-goal-id="{{goal.id}}" data-title="{{goal.title}}" x-data
          @click="confirmDeleteGoal($el) ">Delete</button>
        <a href="/groups/{{group.id}}" hx-get="/groups/{{group.id}}" hx-target="#main-content"
          hx-swap="innerHTML swap:200ms" hx-push-url="/groups/{{group.id}}"
          class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Close</a>
      </div>
    </div>
  </div>
</div>
</div>
