<div class="px-2 flex flex-col space-y-4 md:space-y-0 md:grid md:grid-cols-4 md:gap-1 w-full" id="kanban">
  {% for stage in group.tone_stages %}
  <div class="overflow-hidden rounded border h-auto {{ loop.index0|stage_color_light }}" data-stage="{{ loop.index0 }}"
    @drop="adding = false; updateGoalStage($event, $el)" x-data="{adding: false}" @dragover.prevent="adding = true"
    @dragleave.prevent="adding = false"
    :class="adding ? 'shadow-blue-100 shadow-lg border-blue-800' : 'shadow {{ loop.index0|stage_border_light }}'"
    id="stage-{{loop.index0}}">
    <div class="px-2 pt-2 flex flex-col pb-2 h-full">
      <div class="flex justify-center">
        <h2 class="font-bold text-xl w-auto text-center px-0 py-2 text-zinc-900">
          {{stage}}</h2>
      </div>
      <div class="flex flex-col goal-list space-y-2" id="list-stage-{{loop.index0}}">
        {% let stage_number = loop.index0 %}
        {% for goal in goals_in_stages[loop.index0] %}

        {% include "partials/single_goal_card.html" %}
        {% endfor %}
        <a href="/groups/{{ group.id }}/goals/new?stage={{ loop.index0 }}" draggable="false"
          hx-get="/groups/{{ group.id }}/goals/new?stage={{ loop.index0 }}" hx-target="#main-content"
          hx-swap="afterbegin" hx-push-url="/groups/{{ group.id }}/goals/new?stage={{ loop.index0 }}"
          class="relative w-full flex self-end items-center my-2 space-x-3 h-16 rounded border border-dashed border-zinc-500 bg-white px-3 py-2 shadow-sm focus-within:ring-2 focus-within:ring-violet-500 focus-within:ring-offset-2 hover:border-gray-400 mt-auto">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm italic text-gray-900">Add a Goal</p>
            <p class="truncate text-sm italic text-gray-500">to &quot;{{stage}}&quot;</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- TODO: pretty htmx loading display for big text buttons -->
