<div class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-zinc-500 bg-opacity-75 hx-fade-in hx-fade-out"></div>

  <!-- TODO: replace the whole thing with a nice video, move to a help page, maybe make the video available on an external page. -->
  <div class="fixed inset-0 z-50 overflow-y-auto isolate mt-20">

    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <div
        class="relative overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl hx-fade-in hx-scale-in hx-fade-out hx-scale-out sm:my-8 sm:w-full sm:max-w-4xl sm:p-6 sm:m-2">
        <div>
          <h2 class="font-bold text-2xl text-zinc-900 mb-2" id="modal-title">Tutorial Video</h2>
          <p class="text-zinc-700 text-sm mb-4">The video below walks through the basic functions of Silly Goals. You
            can
            also watch it later under the help section in the sidebar</p>
        </div>
        {% include "snippets/_walkthrough_video.html" %}

        <div class="mt-5 sm:mt-6 flex justify-end">
          <a href="/finish-tutorial" hx-get="/finish-tutorial" hx-target="#main-content" hx-swap="innerHTML swap:200ms"
            hx-push-url="/dashboard"
            class="inline-flex w-auto justify-center rounded-md bg-violet-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-violet-500 sm:ml-3">Finish</a>
        </div>
      </div>
    </div>
  </div>
</div>
