<figure class="w-full flex justify-center">
  <video controls class="shadow-md rounded-md w-full">
    <source src="https://f000.backblazeb2.com/file/rick-webfiles/sillygoals/sillygoals-help.vp9.webm"
      type="video/webm; codecs=vp9,vorbis" />
    <source src="https://f000.backblazeb2.com/file/rick-webfiles/sillygoals/sillygoals-help.vp8.webm"
      type="video/webm; codecs=vp8,vorbis" />
    <source src="https://f000.backblazeb2.com/file/rick-webfiles/sillygoals/sillygoals-help.h264.mp4"
      type="video/mp4" />
  </video>
</figure>
