{% extends "external.html" %}
{% block content %}
<div class="mx-auto max-w-7xl px-6 mt-10 lg:px-8 bg-transparent" x-data="{ videoOpen: false }">
  <div class="relative z-50" aria-labelledby="modal-title" role="dialog" aria-modal="true" x-cloak x-show="videoOpen">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
      x-transition:enter="ease-out duration-200" x-transition:enter-start="opacity-0"
      x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-100"
      x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" x-show="videoOpen" x-cloak></div>

    <div class="fixed inset-0 z-50 overflow-y-auto">
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
        <div x-transition:enter="ease-out duration-200" x-cloak
          x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-100"
          x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
          x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-show="videoOpen"
          class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 space-y-2 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
          <div>
            <h2 class="font-bold text-2xl text-zinc-900 mb-2" id="modal-title">Walkthrough Video</h2>
            <p class="text-zinc-700 text-sm mb-4">The video below walks through the basic functions of Silly Goals.</p>
          </div>
          {% include "snippets/_walkthrough_video.html" %}

          <div class="mt-5 sm:mt-6 flex justify-end">
            <button @click="videoOpen = false" autofocus
              class="inline-flex w-auto justify-center rounded-md bg-violet-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-violet-500 sm:ml-3">Finish</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-2xl lg:text-center">
    <h2 class="text-base font-semibold leading-7 text-violet-600">It's not that serious</h2>
    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Track Your Goals</p>
    <p class="mt-6 text-lg leading-8 text-gray-600">Keep track of what you want/need to to, but with an appropriate
      tone. Have a little fun! Things don't have to be serious all the time, get a little silly.</p>
    <p class="mt-4 text-lg leading-8 text-gray-600">
      <button class="inline font-bold underline text-violet-600 hover:underline-offset-1 hover:decoration-2"
        @click="videoOpen = true"
        id="open-video-button"
        >
        Watch our video
      </button>
      to see what it's like to use!
    </p>
  </div>
  <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl bg-transparent">
    <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-violet-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
              <path
                d="M16.881 4.346A23.112 23.112 0 018.25 6H7.5a5.25 5.25 0 00-.88 10.427 21.593 21.593 0 001.378 3.94c.464 1.004 1.674 1.32 2.582.796l.657-.379c.88-.508 1.165-1.592.772-2.468a17.116 17.116 0 01-.628-1.607c1.918.258 3.76.75 5.5 1.446A21.727 21.727 0 0018 11.25c0-2.413-.393-4.735-1.119-6.904zM18.26 3.74a23.22 23.22 0 011.24 7.51 23.22 23.22 0 01-1.24 7.51c-.055.161-.111.322-.17.482a.75.75 0 101.409.516 24.555 24.555 0 001.415-6.43 2.992 2.992 0 00.836-2.078c0-.806-.319-1.54-.836-2.078a24.65 24.65 0 00-1.415-6.43.75.75 0 10-1.409.516c.059.16.116.321.17.483z" />
            </svg>
          </div>
          Motivation style
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">We all have different ways of being motivated. Maybe you
          need
          nice gentle reminders without too much pressure. Or snarky and mean keeps you going. Or just basic and
          simple.
          Choose one of our pre-defined tones or create your own.</dd>
      </div>
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-violet-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
              <path
                d="M5.566 4.657A4.505 4.505 0 016.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0015.75 3h-7.5a3 3 0 00-2.684 1.657zM2.25 12a3 3 0 013-3h13.5a3 3 0 013 3v6a3 3 0 01-3 3H5.25a3 3 0 01-3-3v-6zM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 016.75 6h10.5a3 3 0 012.683 1.657A4.505 4.505 0 0018.75 7.5H5.25z" />
            </svg>
          </div>
          Goal Groups
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Divide your goals into groups and set different tones for
          different groups. Or keep them all in one group.</dd>
      </div>
      <div class="relative pl-16">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-violet-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-white">
              <path
                d="M12.75 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM7.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM8.25 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM9.75 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM10.5 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM12.75 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM14.25 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 17.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 15.75a.75.75 0 100-1.5.75.75 0 000 1.5zM15 12.75a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM16.5 13.5a.75.75 0 100-1.5.75.75 0 000 1.5z" />
              <path fill-rule="evenodd"
                d="M6.75 2.25A.75.75 0 017.5 3v1.5h9V3A.75.75 0 0118 3v1.5h.75a3 3 0 013 3v11.25a3 3 0 01-3 3H5.25a3 3 0 01-3-3V7.5a3 3 0 013-3H6V3a.75.75 0 01.75-.75zm13.5 9a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5z"
                clip-rule="evenodd" />
            </svg>
          </div>
          Custom Deadlines
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Sometimes it's important to have hard deadlines.
          Sometimes it's important to not have deadlines. Our pre-defined tones handle deadlines in different
          ways, or define your own with soft, hard, or no deadlines.</dd>
      </div>
      <div class="relative pl-16 bg-transparent">
        <dt class="text-base font-semibold leading-7 text-gray-900">
          <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-violet-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6 text-white">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zM3.75 12h.007v.008H3.75V12zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm-.375 5.25h.007v.008H3.75v-.008zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
            </svg>
          </div>
          Kanban
        </dt>
        <dd class="mt-2 text-base leading-7 text-gray-600">Ok so it's basically a Kanban app, but it's sillier!</dd>
      </div>
    </dl>
    <div class="mt-12 sm:mt-44 mx-4 sm:mx-12 text-gray-609">
      <em class="italic">Hey there! Thanks for using my little site. </em>
      If you're having trouble with it or need some additional functionality,
      <a href="//rickhenry.dev/contact" class="underline hover:underline-offset-2" target="_blank" rel="noopener noreferrer">
        send me a message</a>
      on my main website. If you really like it and want to let me know, you can send me a message too, 
      <a href="//github.com/rickh94/silly-goals" class="underline hover:underline-offset-2" target="_blank" rel="noopener noreferrer">
        Star me on GitHub</a>!
    </div>
  </div>
</div>
{% if video %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('open-video-button').click()
  })
</script>
{% endif %}
{% endblock content %}
