{% extends "internal.html" %}

{% block content %}
<h2 class="font-bold text-3xl mb-4 mx-4  text-zinc-800">{{ group.title }}</h2>
<main class="py-10 lg:pl-72">
  <div class="px-2 grid grid-rows-4 md:grid-rows-1 md:grid-cols-4 gap-1">
    <div class="overflow-hidden rounded bg-white shadow">
      <div class="px-2 pt-2 pb-4 flex flex-col space-y-2" x-data x-on:drop="" x-on:dragover.prevent=""
        x-on:dragleave.prevent="">
        <div class="flex justify-center">
          <h1 class="font-bold text-2xl w-auto text-center bg-rose-600 px-4 py-2 rounded-full text-white">Had
            an Idea
        </div>
        </h1>
        <!-- CARD -->
        <div draggable="true" x-data="{ dragging: false }" @dragstart="dragging = true" @dragend="dragging = false"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-3 py-2 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Make a thing</p>
            <!-- needs truncated -->
            <p class="truncate text-sm text-gray-500">Funny Kanban</p>
          </div>
        </div>

        <!-- CARD -->
        <a href="#" @click="alert('hi')" draggable="false"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-3 py-2 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Add </p>
            <p class="truncate text-sm text-gray-500">Funny Kanban</p>
          </div>
        </a>

      </div>
    </div>
    <div class="overflow-hidden rounded bg-white shadow">
      <div class="px-2 pt-2 pb-4 flex flex-col space-y-2" x-data x-on:drop="" x-on:dragover.prevent=""
        x-on:dragleave.prevent="">
        <h1 class="font-bold text-2xl text-center">Getting Going</h1>
        <!-- CARD -->
        <div @click="alert('hi')" draggable="true" x-data="{ dragging: false }" @dragstart="dragging = true"
          @dragend="dragging = false"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-4 py-3 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Make a thing</p>
            <p class="truncate text-sm text-gray-500">Funny Kanban</p>
          </div>
        </div>

        <!-- CARD -->
        <a href="#" @click="alert('hi')"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-4 py-3 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Add a Goal</p>
            <p class="truncate text-sm text-gray-500">Click to add</p>
          </div>
        </a>
      </div>
    </div>
    <div class="overflow-hidden rounded bg-white shadow">
      <div class="px-2 pt-2 pb-4 flex flex-col space-y-2" x-data x-on:drop="" x-on:dragover.prevent=""
        x-on:dragleave.prevent="">
        <h1 class="font-bold text-xl pb-2 text-center">Almost There</h1>
        <!-- CARD -->
        <div @click="alert('hi')" draggable="true" x-data="{ dragging: false }" @dragstart="dragging = true"
          @dragend="dragging = false"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-4 py-3 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Make a thing</p>
            <p class="truncate text-sm text-gray-500">Funny Kanban</p>
          </div>
        </div>

        <!-- CARD -->
        <a href="#" @click="alert('hi')"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-4 py-3 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Add </p>
            <p class="truncate text-sm text-gray-500">Funny Kanban</p>
          </div>
        </a>
      </div>
    </div>
    <div class="overflow-hidden rounded bg-white shadow">
      <div class="px-2 pt-2 pb-4 flex flex-col space-y-2" x-data x-on:drop="" x-on:dragover.prevent=""
        x-on:dragleave.prevent="">
        <h1 class="font-bold text-xl pb-2 text-center">Yayyyy</h1>
        <!-- CARD -->
        <div @click="alert('hi')" draggable="true" x-data="{ dragging: false }" @dragstart="dragging = true"
          @dragend="dragging = false"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-4 py-3 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Make a thing</p>
            <p class="truncate text-sm text-gray-500">Funny Kanban</p>
          </div>
        </div>

        <!-- CARD -->
        <a href="#" @click="alert('hi')"
          class="relative flex items-center space-x-3 rounded border border-gray-300 bg-white px-4 py-3 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Add </p>
            <p class="truncate text-sm text-gray-500">Funny Kanban</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
