{% extends "external.html" %}
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8" x-data="{open: false}">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <div class="flex w-full justify-center">
      {% include "snippets/_logo_large.html" %}
    </div>
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Choose a Sign in
      Method</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="grid grid-cols-2 gap-2">
      <a href="/login-code"
        class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
        <span class="flex flex-1">
          <span class="flex flex-col">
            <div class="w-full flex justify-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                class="w-8 h-8 text-violet-600">
                <path fill-rule="evenodd"
                  d="M5.478 5.559A1.5 1.5 0 016.912 4.5H9A.75.75 0 009 3H6.912a3 3 0 00-2.868 2.118l-2.411 7.838a3 3 0 00-.133.882V18a3 3 0 003 3h15a3 3 0 003-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0017.088 3H15a.75.75 0 000 1.5h2.088a1.5 1.5 0 011.434 1.059l2.213 7.191H17.89a3 3 0 00-2.684 1.658l-.256.513a1.5 1.5 0 01-1.342.829h-3.218a1.5 1.5 0 01-1.342-.83l-.256-.512a3 3 0 00-2.684-1.658H3.265l2.213-7.191z"
                  clip-rule="evenodd" />
                <path fill-rule="evenodd"
                  d="M12 2.25a.75.75 0 01.75.75v6.44l1.72-1.72a.75.75 0 111.06 1.06l-3 3a.75.75 0 01-1.06 0l-3-3a.75.75 0 011.06-1.06l1.72 1.72V3a.75.75 0 01.75-.75z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <span class="block text-xl font-medium text-zinc-900 text-center">Email Code</span>
            <span class="flex items-center text-sm text-zinc-500 text-center">Send a code
              to your email address</span>
          </span>
        </span>
      </a>
      <button x-data @click="startLogin()"
        class="relative flex cursor-pointer rounded-lg border bg-white p-4 shadow-sm focus:outline-none">
        <span class="flex flex-col">
          <div class="w-full flex justify-center mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
              class="w-8 h-8 text-violet-600">
              <path fill-rule="evenodd"
                d="M12 3.75a6.715 6.715 0 00-3.722 1.118.75.75 0 11-.828-1.25 8.25 8.25 0 0112.8 6.883c0 3.014-.574 5.897-1.62 8.543a.75.75 0 01-1.395-.551A21.69 21.69 0 0018.75 10.5 6.75 6.75 0 0012 3.75zM6.157 5.739a.75.75 0 01.21 1.04A6.715 6.715 0 005.25 10.5c0 1.613-.463 3.12-1.265 4.393a.75.75 0 01-1.27-.8A6.715 6.715 0 003.75 10.5c0-1.68.503-3.246 1.367-4.55a.75.75 0 011.04-.211zM12 7.5a3 3 0 00-3 3c0 3.1-1.176 5.927-3.105 8.056a.75.75 0 11-1.112-1.008A10.459 10.459 0 007.5 10.5a4.5 4.5 0 119 0c0 .547-.022 1.09-.067 1.626a.75.75 0 01-1.495-.123c.041-.495.062-.996.062-1.503a3 3 0 00-3-3zm0 2.25a.75.75 0 01.75.75A15.69 15.69 0 018.97 20.738a.75.75 0 01-1.14-.975A14.19 14.19 0 0011.25 10.5a.75.75 0 01.75-.75zm3.239 5.183a.75.75 0 01.515.927 19.415 19.415 0 01-2.585 5.544.75.75 0 11-1.243-.84 17.912 17.912 0 002.386-5.116.75.75 0 01.927-.515z"
                clip-rule="evenodd" />
            </svg>
          </div>
          <span class="block text-xl font-medium text-zinc-900">Passkey</span>
          <span class="flex items-center text-sm text-zinc-500">Log in using a
            Passkey or registered device</span>
        </span>

      </button>
    </div>

    <p class="mt-10 text-center text-sm text-gray-500">
      Not sure?
      <a href="#" class="font-semibold leading-6 text-violet-600 hover:text-violet-500" x-data @click="open = true">More
        Info</a>
    </p>
  </div>
  <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true" x-cloak
    x-transition:enter="ease-out duration-200" x-transition:enter="opacity-0" x-transition:enter="opacity-100"
    x-transition:leave="ease-in duration-100" x-transition:leave="opacity-100" x-transition:leave="opacity-o"
    x-show="open" @click="open = false">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

    <div class="fixed inset-0 z-10 overflow-y-auto" x-data>
      <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0 sm:scale-100"
        x-show="open" x-transition:enter="ease-out duration-200"
        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-100"
        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">
        <div x-data @click.stop
          class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
          <div class="mx-auto max-w-7xl px-2 lg:px-4">
            <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-2xl">Passwordless Login</h2>
              <p class="text-md leading-8 text-gray-600">Passwords are terrible. Here's what we use instead</p>
            </div>
            <div class="mt-4 max-w-2xl sm:mt-6 lg:mt-8">
              <dl class="mt-4 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                      class="absolute left-1 top-1 h-5 w-5 text-violet-600">
                      <path fill-rule="evenodd"
                      d="M12 3.75a6.715 6.715 0 00-3.722 1.118.75.75 0 11-.828-1.25 8.25 8.25 0 0112.8 6.883c0 3.014-.574 5.897-1.62 8.543a.75.75 0 01-1.395-.551A21.69 21.69 0 0018.75 10.5 6.75 6.75 0 0012 3.75zM6.157 5.739a.75.75 0 01.21 1.04A6.715 6.715 0 005.25 10.5c0 1.613-.463 3.12-1.265 4.393a.75.75 0 01-1.27-.8A6.715 6.715 0 003.75 10.5c0-1.68.503-3.246 1.367-4.55a.75.75 0 011.04-.211zM12 7.5a3 3 0 00-3 3c0 3.1-1.176 5.927-3.105 8.056a.75.75 0 11-1.112-1.008A10.459 10.459 0 007.5 10.5a4.5 4.5 0 119 0c0 .547-.022 1.09-.067 1.626a.75.75 0 01-1.495-.123c.041-.495.062-.996.062-1.503a3 3 0 00-3-3zm0 2.25a.75.75 0 01.75.75A15.69 15.69 0 018.97 20.738a.75.75 0 01-1.14-.975A14.19 14.19 0 0011.25 10.5a.75.75 0 01.75-.75zm3.239 5.183a.75.75 0 01.515.927 19.415 19.415 0 01-2.585 5.544.75.75 0 11-1.243-.84 17.912 17.912 0 002.386-5.116.75.75 0 01.927-.515z"
                      clip-rule="evenodd" />
                    </svg>
                    Passkey.
                  </dt>
                  <dd class="inline">Use an Apple Passkey, Windows Hello, TouchID, FaceID, security key, or other
                    device-based authenticator to sign in quickly. (This only works on devices you've already
                    registered)</dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                      class="absolute left-1 top-1 h-5 w-5 text-violet-600">
                      <path fill-rule="evenodd"
                      d="M5.478 5.559A1.5 1.5 0 016.912 4.5H9A.75.75 0 009 3H6.912a3 3 0 00-2.868 2.118l-2.411 7.838a3 3 0 00-.133.882V18a3 3 0 003 3h15a3 3 0 003-3v-4.162c0-.299-.045-.596-.133-.882l-2.412-7.838A3 3 0 0017.088 3H15a.75.75 0 000 1.5h2.088a1.5 1.5 0 011.434 1.059l2.213 7.191H17.89a3 3 0 00-2.684 1.658l-.256.513a1.5 1.5 0 01-1.342.829h-3.218a1.5 1.5 0 01-1.342-.83l-.256-.512a3 3 0 00-2.684-1.658H3.265l2.213-7.191z"
                      clip-rule="evenodd" />
                      <path fill-rule="evenodd"
                      d="M12 2.25a.75.75 0 01.75.75v6.44l1.72-1.72a.75.75 0 111.06 1.06l-3 3a.75.75 0 01-1.06 0l-3-3a.75.75 0 011.06-1.06l1.72 1.72V3a.75.75 0 01.75-.75z"
                      clip-rule="evenodd" />
                    </svg>
                    Email Code.
                  </dt>
                  <dd class="inline">Get a secret code sent to your email address. It expires after five minutes, can
                    only be used once, and can only be used in this browser session. This is great for signing in for
                    the first time or on a new device.</dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="mt-5 sm:mt-6">
            <button type="button" @click="open = false"
              class="inline-flex w-full justify-center rounded-md bg-violet-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-violet-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600">Done
              Reading</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
